/* NOTAS: En css hay varias formas de selectores:
Selector de titulo. Ejemplo:
h1 {
    color: blue
}
Selector de clase. Ejemplo:
.title {
    color: blue
}
Selector de id. Ejemplo:
#titulo {
    color: red
}
/* las caracteristicas se refieren a el ancho, alto de los elementos y se codifican en ingles

cssreference.io (recurso para conocer mas acerca de css)

htmlcolorcodes.com/es/ - Colores para css

CSS display:
 in-line
 block
 in-line block
para entender a profundidad CSS flexbox: css-tricks.com
 */

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: rgb(239, 98, 98);
    font-size: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    justify-content:center;
    margin-bottom: 20px;
    font-family: 'Fredoka', sans-serif;    
}

.emojis {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

.subtitulo {
    color: rgb(243, 170, 96);
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
}

label {
    color: white;
}

#boton-mascota {
    color: rgb(29, 91, 121);
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}

.tarjetas {
    display: flex;
    gap: 10 px;
}

.tarjeta-de-kopenom {
    background: rgb(70, 139, 151); 
    padding: 10px;
    display: flex;
    align-items:normal;
    margin: 20px;
    border: 20px;
    border-radius: 40px;
}

.tarjeta-de-kopenom img {
    width: 10px;
    height: 10px;
}

#boton-mascota { 
    font: bolder;
    margin-top: 20px;
    box-shadow: 0 0 5px cyan, 
    0 0 25px cyan; 
} 
#boton-mascota:hover { 
    box-shadow: 0 0 5px (cyan), 
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan 0 0 200px cyan; 
}

html {
    background-color: rgb(29, 91, 121);
}